body {
}

.template {
	display: none;
}

#grid {
	width: 100%;
	height: 100%;
    cursor: default;
}

#grid div {
	line-height: 0;
}

.cell {
	display: inline-block;
	border: 1px solid #151515;
	width: 20px;
	height: 20px;
    background: black;
}

.cell.alive {
	background: blue;
}

#controls {
    margin-bottom: 20px;
}